<div class="feed-main-container">
    <div class="feed-inner-container">
        <div class="sidebar">
            <ul>
                <li><a href="/feed" id="homeLink">Home</a></li>
                <li><a href="/feed/user-posts" id="yourPostsLink">Your Posts</a></li>
                <li><a href="/feed/create-new-post" id="newPostLink">New Post</a></li>
            </ul>
        </div>
        <div class="main-content" id="userPostsMainContent">
            
            <% if(userPosts.length > 0) { %>
                <% userPosts.forEach(post => { %>
                    <div class="post-container">
                
                        <div class="user-posts-inner-container">
                            
                            <div class="profile-pic-container">
                                <% if (post.user.imageUrl) { %>
                                    <img class="profile-pic" src="<%= post.user.imageUrl %>" alt="">

                                <% } else { %>
                                    <span class="profile-pic"><i class="fa-solid fa-circle-user"></i></span>
                                <% } %>
                                <span class="user-name"><%= post.user.username %></span>
                            </div>
                            <div>
                                <div class="delete-confirm-popup">
                                    <h4>Are you sure ?</h4>
                                    <div>
                                        <a href="#" class="delete-post-btn" data-post-id="<%= post._id %>">
                                            <button class="btn btn-secondary  delete-btn">Delete</button>
                                        </a>
                                        <button class="btn btn-secondary popup-cancel-btn">Cancel</button>
                                    </div>
                                    
                                </div>
                                
                                <button class="btn btn-secondary delete-btn">Delete</button>
                            </div>
                        </div>
                
                        <div class="post-content-container">
                            <div class="post-image-container">
                                <img class="post-image" src="/<%= post.imageUrl %>" alt="Post Image">
                            </div>
                            <div class="post-des"><%= post.description %></div>
                            
                        </div>
                
                        <div class="post-details">
                            <input type="hidden" name="likesTotal" value="<%= JSON.stringify(post.likes) %>">
                            <input type="hidden" name="usernameCurrent" value="<%= username %>">
                            <button class="like-btn btn" data-post-id="<%= post._id %>" data-liked="<%= authorized && post.likes.some(like => like.user.username === username) %>">
                                <%= authorized && post.likes.some(like => like.user.username === username) ? 'Dislike' : 'Like' %> (<%= post.likes.length %>)
                            </button> 
                            <button class="comment-btn btn" data-toggle-id="comments-<%= post.id %>">Comments(<%= post.comments.length %>)</button>

                            <div class="comments" id="comments-<%= post.id %>" data-post-id="<%= post.id %>">
                                <% if (post.comments.length > 0) { %>
                                    <% post.comments.forEach(function(comment) { %>
                                        <div class="comment-item">
                                            <strong class="comment-user"><%= comment.user.username %> </strong> : 
                                            <span><%= comment.comment %></span>
                                        </div>
                                    <% }); %>
                                <% } else { %>
                                    <div class="no-comments">No comments for this post.</div>
                                <% } %>

                                <form id="comment-form-<%= post.id %>">
                                    <textarea name="commentText" placeholder="Write a comment"></textarea>
                                    <button type="submit" class="post-comment-btn">Post Comment</button>
                                </form>
                            </div>
                        </div>
                
                    </div>
                <% }); %>
            <% } else { %>
                <div class="post-container no-posts-container">
                    <h1 class="no-posts-icon"><i class="fa-regular fa-face-frown"></i></h1>
                    <h1>No posts, Try creating a new post</h1>
                </div>
            <% }; %>
        </div>
        <div class="trending-posts-main-container">
            <h3>TRENDING POSTS</h3>
            <p>Feature Under Development</p>
        </div>
    </div>
</div>
<script>
    // Select all like buttons on the page
    const likeButtons = document.querySelectorAll('.like-btn');

    // Attach click event to each like button
    likeButtons.forEach(likeButton => {
        likeButton.addEventListener('click', async function(event) {
            const postId = likeButton.getAttribute('data-post-id');
            const likesTotal = document.querySelector(`input[name='likesTotal']`).value;
            const usernameCurrent = document.querySelector(`input[name='usernameCurrent']`).value;
            const liked = likeButton.getAttribute('data-liked') === 'true';
            console.log("user -liked ?",liked)
            
            console.log("curretn usernname: ",usernameCurrent)
            JSON.parse(likesTotal).forEach(item => {
                const username = item.user.username;
                console.log(username); 
            });
            try {
                const response = await fetch(`/feed/${postId}/like`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ liked }),
                });

                const data = await response.json();

                if (data.success) {
                    
                    const updatedPost = data.updatedPost;

                    const postElement = document.querySelector(`.post-container[data-post-id="${updatedPost._id}"]`);

                    // Update the like/dislike status in the frontend
                    likeButton.setAttribute('data-liked', updatedPost.likes.some(like => like.user.username === usernameCurrent));
                    likeButton.innerHTML = `${updatedPost.likes.some(like => like.user.username === usernameCurrent) ? 'Dislike' : 'Like'} (${updatedPost.likes.length})`;
                } else {
                    console.error('Failed to update like/dislike status');
                }
            } catch (error) {
                console.error('Error occurred while updating like/dislike status:', error);
            }
        });
    });

    
</script>